.player-container{
  display:block;
  float:none;
}

.player {
  text-align: center;
  display:inline-block;
  margin:5px;
  padding: 5px;
}

.spell {
  text-align: center;
  padding: 3px 7px;
  margin: 0;
}

.spell.selected {
  padding: 1px 3px;
  border-radius: 5px;
  color: #212529;
  vertical-align: middle;
}